@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* font-family: 'Fredoka One', cursive; */
body {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  margin: 0%;
  padding: 0%;
  font-family: 'Fredoka One', cursive;
}

h1{
  text-align: center;
  font-size: 4vw;
  margin: 0vw;
}

.match-result{
  height: 5vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.score{
  height: 5vh;
  width: 7vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34,123,233);
  background: linear-gradient(0deg, rgba(34,123,233,1) 32%, rgba(25,50,249,1) 100%);
  color: whitesmoke;
  position: absolute;
  right: 2.5vw;
  top: .5vw;
}

main {
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vw;
  column-gap: 1vw;
}
form input{
  width: 30vw;
  height: 2.5vw;
  font-size: 2vw;
  border-radius: .5vw;
}
form button {
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
  height: 2.5vw;
  background: rgb(34,123,233);
  background: linear-gradient(0deg, rgba(34,123,233,1) 32%, rgba(25,50,249,1) 100%);
  border: 0px;
  width: 4vw;
  height: 3vw;
  font-size: 1vw;
  border-radius: .5vw;
  transform: scale(1);
}

form button:hover{
  transform: scale(1.1);
  transition: .1s;
}
table {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-collapse:separate;
  border-spacing:1vw 1vw;
  background: rgb(34,123,233);
  background: linear-gradient(0deg, rgba(34,123,233,1) 32%, rgba(25,50,249,1) 100%);
}

table td {
  text-align: center;
  width: 4vw;
  height: 4vw;
  padding: 1vw;
  border-radius: 2vw;
  background-color: whitesmoke;


}



/* THIS IS FOR THE TIMER BELOW */

.base-timer {
  position: absolute;
  right: 2vw;
  top: 4vw;
  width: 8vw;
  height: 8vw;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 8vw;
  height: 8vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
}
/* ---------------------------------------- */
